@model Static_Blog.Models.Post

@{
	ViewBag.Title = Model.Title;
}

<div class="post-content">
	<h1 style="margin-bottom: 0">@Model.Title</h1>
	<span style="font-size: 12px">@Model.Date.ToString("MMMM d, yyyy") by @Model.Author</span>
	@Model.HtmlText
	<div style="padding-top:50px">
		Tags:
	 @foreach (var t in Model.TagList)
  {
		 <a style="padding:0 10px" href="/tags/@t/">@t</a> 
  }
	</div>
	<div style="padding:20px 0 20px 0">
	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	<div class="g-plus" data-action="share" data-annotation="bubble"></div>
	<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
	<div id="disqus_thread"></div>
</div>

@section scripts
{
	<script type="text/javascript">
		var disqus_shortname = '@System.Configuration.ConfigurationManager.AppSettings["disqusId"]'; 
		var disqus_identifier = '@Model.FullId';
		(function () {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>

	<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
	<script type="text/javascript">
		(function () {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>
	<div id="fb-root"></div>
	<script>(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=@System.Configuration.ConfigurationManager.AppSettings["facebookAppId"]";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
}

