@model Static_Blog.Models.Post

@{
	ViewBag.Title = Model.Title;
}

<div class="post-content">
	<h1 style="margin-bottom: 0">@Model.Title</h1>
	<span style="font-size: 12px">@Model.Date.ToString("MMMM d, yyyy") by @Model.Author</span>
	@Model.HtmlText
	<div style="padding-top:30px;padding-bottom:30px">
		Tags:
		@foreach (var t in Model.TagList)
		{
			<a style="padding:0 10px" href="/tags/@t/">@t</a>
		}
	</div>
	<div id="disqus_thread"></div>
</div>

@section scripts
{
	<script type="text/javascript">
		var disqus_shortname = '@System.Configuration.ConfigurationManager.AppSettings["disqusId"]';
		var disqus_identifier = '@Model.FullId';
		(function () {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
}

